body {
  background-color: #1f1f1f;
  color: white;
  background-image: url('./HD-Earth-Wallpaper-Desktop.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

.movie-app {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.heading {
  display: flex;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.space-bw {
  height: 300px;
}
